@import 'polyfill';

html-palette
{
	width: 200px;
	height: 150px;

	border: solid grey 1px;
	padding: 5px;

	@include display-flex();
	@include flex-direction(column);
	box-sizing: border-box;

	.palette
	{
		position: relative;
		padding: 1px;
		@include flex-grow(1);

		.twoaxis, .oneaxis
		{
			position: absolute;
			border: solid grey 1px;
		}

		.twoaxis {
			top: 0px;
			left: 0px;
			cursor: crosshair;
		}

		.oneaxis {
			top: 0px;
			right: 0px;
			width: 20px;
			margin-left: 10px;
			cursor: ns-resize;
		}

	}

	.controls
	{
		//margin-top: 5px;
		height: 30px;
		@include flex-shrink(0);

		@include display-flex();
		@include flex-direction(row);
		@include align-items(stretch);
		@include justify-content(space-between);

		.rgbInput
		{
			@include display-flex();
			@include align-items(center);
			padding-left: 5px;

			font-size: 20px;
			letter-spacing: 1px;

			span
			{
				margin: 0 2px;
				cursor: ns-resize;
			}
			.r { color: red; }
			.g { color: green; }
			.b { color: blue; }
		}

		.colorswatch
		{
			width: 25%;
			//flex-shrink: 0;
		}
	}

}
