@import 'polyfill';

html-palette, .html-palette
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: ridge lightgrey 3px;
}

#htmlPalettePopup
{
	width: 200px;
	height: 200px;

	border: solid grey 1px;
	padding: 5px;
	background-color: white;

	@include display-flex();
	@include flex-direction(column);
	position: absolute;
	box-sizing: border-box;

	.palette
	{
		position: relative;
		padding: 1px;
		@include flex(1);

		.twoaxis, .oneaxis, .alpha
		{
			position: absolute;
			border: solid grey 1px;
		}

		.twoaxis {
			top: 0px;
			left: 30px;
			cursor: crosshair;
		}

		.oneaxis {
			top: 0px;
			right: 0px;
			width: 20px;
			margin-left: 10px;
			cursor: ns-resize;
		}

		.alpha {
			top: 0px;
			left: 0px;
			width: 20px;
			margin-right: 10px;
			cursor: ns-resize;
		}
	}

	.controls
	{
		//margin-top: 5px;
		height: 30px;
		min-height: 30px;

		@include display-flex();
		@include flex-direction(row);
		@include align-items(stretch);
		@include justify-content(space-between);

		.rgbInput
		{
			@include display-flex();
			@include align-items(center);
			padding-left: 5px;

			font-size: 20px;
			letter-spacing: 1px;

			span
			{
				margin: 0 2px;
				cursor: ns-resize;
			}
			.r { color: red; }
			.g { color: green; }
			.b { color: blue; }
			.a { color: black; }
		}

		.colorswatch
		{
			width: 25%;
			box-sizing: border-box;
			border: solid grey 1px;
		}
	}

}
